


#mainContent,
#footer {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
}


#header,
#footer{
    height: 20vh;
}
#mainContent {
    height: 60vh;
}

#header {
    border: 2px solid black;
    vertical-align: middle;
    justify-content: center;
}

nav ul {
    display: flex;
    
    justify-content: space-between; 
    
    list-style: none; 
    width: 100%;
    padding: 0;
    margin: 0;

}




 :root.dark {
    --border-btn: 1px solid rgb(220, 220, 220);
    --color-base-bg: rgb(18, 18, 18);
    --color-base-text: rgb(240, 240, 240);
    --color-btn-bg: rgb(36, 36, 36);
  }
  
  :root.light {
    --border-btn: 1px solid rgb(36, 36, 36);
    --color-base-bg: rgb(240, 240, 240);
    --color-base-text: rgb(18, 18, 18);
    --color-btn-bg: rgb(220, 220, 220);
  }
  
  body,
  .theme-toggle {
    color: var(--color-base-text);
  }
  
  body {
    background-color: var(--color-base-bg);
    padding: 10px;
    font-size: 1.5rem;
  }
  
  .container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-top: 30px;
  }
  
  p {
    font-size: 1.5rem;
  }
  
  .theme-toggle {
    background-color: var(--color-btn-bg);
    border: var(--border-btn);
    font-size: 1.125rem;
    padding: 10px 20px;
    margin-right: 30px;
  }
  
  .theme-toggle:hover {
    cursor: pointer;
  }
  
  .theme-toggle:focus {
    outline: var(--border-btn);
  }